body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
  background-color: #e0e0e0;
}

.btn {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.product {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product img {
  object-fit: cover;

}

button {
  padding: 8px 12px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.about {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}